<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>
<body>
<p th:text="'안녕하세요. ' + ${data}">안녕하세요. 손님</p>
Generator    Alt + Insert
한줄 지우기   Ctrl + Y
자동완성        Ctrl + Shift + Enter
좌변자동완성 Ctrl + Alt + V
method로 추출  Ctrl + Alt + M
CreateTest          Ctrl + Shift + T
</body>
</html>